@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}




.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;

    font-family: poppins;
    font-weight: medium;

}

.L_Cabecalho {
    line-height: normal;
}

.E_Cabecalho {
    text-decoration: none;
    font-size: 20px;
    font-weight: medium;
    font-family: Poppins;
    color: black;
    margin-right: 24px;

}

.logo {
    font-size: 20px;
    font-weight: bold;
    font-family: Poppins;

}

.botao_comprar {
    border: 2px solid #2203E4;
    padding: 8px 15px;
    border-radius: 5px;
    color: #2203E4;
    text-decoration: none;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1100px;
    height: 700px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
}

.hero-texto {
    max-width: 50%;
    font-family: Poppins;
    font-weight: medium;
}

.hero-texto-h1 {
    font-size: 47px;
    font-weight: bold;
    font-family: Poppins;
    margin-bottom: 24px;


}

.botao-demo {
    width: 152px;
    height: 39px;
    font-size: 16px;
    font-family: Poppins;
    background-color: transparent;
    margin: 24px;


}

.botao-autor {
    background-color: rgb(0, 17, 255);
    font-size: 16px;
    color: white;
    border: none;
    width: 72px;
    height: 39px;
    font-family: Poppins;
}

.alinhamento-autor {
    font-size: medium;
    align-items: start;
}

.autor {

    text-align: center;
    align-items: center;
    width: 1162px;
    height: 304px;
    font-size: medium;
    font-family: poppins;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    font-weight: 50px;

}

.autor-info {
    display: flex;

    margin-top: 20px;

    img {
        width: 150px;
        height: 150px;
    }

}

.autor-texto h3 {
    font-size: 27px;
    font-weight: bold;
}

.cargo {
    font-size: 21px;
    color: #666;
    text-align: start;
    margin-left: 46px;
}

.descricao {
    font-size: 0.9rem;
    color: #777;
    margin-top: 10px;
    text-align: start;
    margin-left: 46px;

}

.conjunto {

    text-align: left;
    color: black;
    font-weight: bold;
    margin-left: auto;
    font-family: Poppins;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -90px;



}

.mark-h1 {
    font-size: 27px;
    font-weight: 600;
    font-family: Poppins;
}

.dev-p {
    color: #777;
    font-size: 21px;
    font-weight: 500;
    font-family: Poppins;
}

.seta {
    align-items: start;
}



.mark {
    text-align: start;
    margin-left: 46px;
}



.autor-h2 {
    font-size: 36px;
    font-weight: 600;
}

.escrita-autor {
    color: #777;
    font-size: 16px;
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 36px;
}

.redes-sociais {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 95px;
    justify-content: space-around;

    img {
        width: 21px;
        height: 21px;
    }

    margin-left: 46px;
    margin-top: 21px;


}



.para-voce {
    background-color: #0057ff;
    color: white;
    text-align: center;
    padding: 60px 20px;
    font-family: Poppins;

}

.para-voce h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.para-voce p {
    font-size: 1rem;
    margin-bottom: 40px;
}


.para-voce-geral {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 900px;
    margin: 0 auto;
}

.item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.item img {
    width: 80px;
    height: 80px;
    border-radius: 15px;
    object-fit: cover;
}

.item h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

.item p {
    font-size: 0.9rem;
    color: #e0e0e0;
}


.cta-button {
    margin-top: 40px;
    padding: 12px 20px;
    font-size: 1rem;
    color: #000;
    background: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.cta-button:hover {
    background: #f0f0f0;
}

/* 3 parte*/
.texto-demonstracao {
    margin: auto;
    text-align: center;
    font-family: Poppins;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 63px;

}

.demonstracao {
    width: 1100px;
    height: 433px;
    margin: auto;
    text-align: center;
    font-family: Poppins;
    align-items: center;

}

.imagen-videos {
    margin-top: -320px;
    margin-right: -550px;
    margin-bottom: 400px;
    width: 444px;
    height: 293px;

}

.container-demonstracao {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    height: 296px;

}


.texto-demontacao {
    text-align: left;
    max-width: 500px;
}

.h2-demontracao {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;

}

.texto p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 30px;
}

.topico {
    margin-bottom: 20px;
}

.topico h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

.topico p {
    font-size: 0.9rem;
    color: #777;
}

.avaliacoes {
    width: 100%;
    height: 499px;
    background-color: #FFBE0B;
    font-family: Poppins;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    text-decoration: none;

}

.parte-cima {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
}

.jones-ceo {
    background-color: #f3f3f3;
    width: 703px;
    height: 230px;
    border-radius: 10px;
    gap: 16px;
    align-items: center;
    display: flex;
    word-spacing: 12px;

}


.avaliacoes h2 {
    font-size: 36px;
    font-weight: 600;
    align-items: center;
}

.avaliacoes p {
    color: #555;
    font-weight: 400;
    font-size: 16px;
}

.balao {
    margin-left: 16px;
}

.ceo {
    width: 333px;
    height: 57px;
    padding-bottom: 16px;
}

.converse-com-agente {
    width: 951px;
    height: 745px;
    font-family: Poppins;
    margin-left: 280px;
    justify-content: center;
    

}

.part1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 74px;
    text-align: center;
    gap: 12px;

}
.part1 p{
    font-size: 16px;
    font-weight: 400;
}
.part2-cell{
    display: flex;
    align-items: center;
    gap: 26px;
}
.part2{
    gap: 26px;
    margin-bottom: 26px;
      

}
.part2 p{
    color: #555;
    font-size: 16px;
    font-weight: 400;
    gap: 26px   ;
}
.botao-adicionar{
    color: white;
    background-color: #0062FF;
    width: 206px;
    height: 39px;
    border: none;
    
}
.estrelas{
    display: flex;
    align-items: center;
}

.celular {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;


}
.cel{
    width: 327px;
    height: 327px;
}
.converse-com-agente h2 {
    font-size: 36px;
    font-weight: 600;
}
.estrelas{
    display: flex;
    
    
    img{
        width: 158px;
        height: 26px;
    }
}
.desconto{
    text-align: center;
    display: flex;
    gap: 26px   ;
    flex-direction: column;
    align-items: center;
    
}
.desconto h3{
    font-size: 27px;
    font-weight: 600;
    
}
.botao-desconto{
    width: 508px;
    height: 39px;
    background-color:#0062FF ;
    border: none;
    color: white;
}
.email{
    width: 508px;
    height: 39px;
    border-radius: 5px;
    background-color: #3A86FF33;
    text-decoration: none;
    color: #0062FF ;
    border: none;
}
.a1{
    color: #0062FF ;
}
.review{
    gap: 26px;
    word-spacing: 26px;
}
